---
const { caption, file} = Astro.props
---

<a href={`#${file}`}>
  <img class={file} src={file} />
</a>

<a href="#" class="lightbox" id={file}>
  <figure>
    <img alt="" class={file} src={file} />
    <figcaption>{caption}</figcaption>
  </figure>
</a>

<style>
  img {
    width: 22vw;
    margin: 0 2px;
    padding: .5vw;
    border: 1px solid silver; 
  }
  figcaption {
    color: var(--light);
    font-size: 1.7rem;
    text-align: center;
  }
  .lightbox {
    display: none; /* hides until :target gets activated */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark);
  }
  .lightbox:target {
    /*:target means when #first in URL matches an ID. */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lightbox img {
    max-width: 95vw;
    max-height: 95vh;
    width: auto;
    height: 100vh;
    padding: 0.7vw;
    border: 1px solid silver; /**/
  }
</style>
