---
// import { marked } from 'marked';
import snarkdown from 'snarkdown'

const { author, id, note, tags, text } = Astro.props
---

<figure class="quote">
  <blockquote>
    {id 
      ? <a href={`/quotes/${id}`} set:html={snarkdown(text)} />
      : snarkdown(text)
    }
  </blockquote>

  <figcaption>
    <b>&mdash;</b> 
      <a class="author" href={`/author/${author.trim().toLowerCase()}`}>{author}</a>

    {note && 
      <>
        <b>&laquo;</b>
          <span set:html={snarkdown(note.trim())} />
        <b>&raquo;</b>
      </>
    }
  
    {tags.map((tag: any, i: number) => (
      <span class="tags">
        <b>#</b><a href={`/tag/${tag.trim().toLowerCase()}`}>{tag}</a>
      </span>
    ))}
  
  </figcaption>
</figure>

<style>
  figure {
    line-height: 1.2;
  }
  figure a:link, figure a:visited {
    color: var(--light);
  }
  figure a:hover {
    color: var(--accentHover);
  }
  blockquote {
    margin-left: 0;
    /* hanging-punctuation: first; /* only supported on Safari :-( */
  }
  .hang {
    margin-left: -1rem;
  }
  figcaption {
    margin-left: 2rem;
    font-size: 0.7em;
  }
  b {
    color: var(--accent);
    font-weight: 600;
  }
  span.tags {
    margin-left: .5rem;
  }
</style>